body{
    
    background: #f3f3f3;
}
*
{
  margin: 0px;
  padding: 0px;
}
#div_header
{
   height: 80px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: #dedee0;
   /*position: relative;*/
}
#student_div
{
  float: left;
 margin-block-start: 10px;
 margin-inline-start: 5px

}
.form-container
{
 width: 300px;
 border-radius: 5px;
 width: 300px;
  height: 250px;
  background-color: #eeeeee;
  border: 1px solid gray;
}
.login-contents
{
  

}
.login-header{
  width: inherit;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
	display: -ms-flexbox;
  display: -webkit-flex;
  background-color: #e4e4e4;
}
.login-body
{
  margin-top: 50px;
  width: 290px;
  height: 100px;
  background-color: #f1f1f1;
}
.login-footer
{
  height: 50px;
  width: inherit;
}
.actions
{
  
}
.table-row-body
{

}
.main-form-container
{
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
	display: -ms-flexbox;
  display: -webkit-flex;
  
}
.txts{
  width: 185px;
  height: 25px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddddd;
  margin-top: 5px

}
.btns
{
 width: 135px;
 height: 30px;
 border-radius: 5px;
 outline: none;
 border: 0px;
 margin-left: 5px;
 background-color: rgb(214, 211, 211);
 color: #8f8e8e;
}

.table-row-footer
{
 /* justify-content: center;
  align-items: center;
  display: -webkit-box;
	display: -ms-flexbox;
  display: -webkit-flex; */
}
footer
{
  justify-content: center;
  align-items: center;
  display: -webkit-box;
	display: -ms-flexbox;
  display: -webkit-flex;
}
.lbls{
  margin-left: 10px;
}
.btns:hover{
  font-size: 15px;
  background-color: rgb(228, 227, 227);
}


*
{

  margin: 0px;
}
.header
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:75px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
   align-items: center;
   background-color: #dbdbdb;
  
}

.main-container
{
  width: inherit;
  height: inherit;
  display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
  align-items: center;
}
#signup-div
{
 width: 550px;
 height: 450px;
 border: 1px solid #c7c6c6;
 border-radius: 10px;
}
.head-signup
{
  display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  justify-content: center;
  border-bottom: 1px solid #c7c6c6;
  height: 80px;


}
.row-signup
{
 width: inherit;
 margin-top: 10px;
}
.required
{
 font-family: Verdana, sans-serif;
 font-size: 15px;
 color: #757373;
 margin-left: 25px

}
.required::after{
  content: "*";
  color: rgb(243, 55, 55);

}
.texts
{
  border: 1px solid #afafaf;
  border-radius: 5px;
  outline: none;
  width: 500px;
  height: 30px;
  margin-left: 25px;
}
.row-signup-action
{
  width: inherit;
  height: 47px;
  border-top: 1px solid #afafaf;
  margin-top: 10px;
  padding-top: 10px
}
.buttons
{
  margin-left: 25px;
  width: 210px;
  height: 30px;
  border: none;
  border-radius: 5px;


}
#btnRes:hover
{
  background: #df3939;
  transition: 1s;
}
#btnSub:hover
{
  background: #5a8ceb;
  transition: 1s;
}
footer{
  display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}
#td-img
{
    width: 40px;
    align-items: center; 
    background-color: #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img-student-logo
{
}


ul[title]::before {
    content: attr(title);
    /* then add some nice styling as needed, eg: */
    display: block;
    font-weight: bold;
    padding: 4px;
}
.collapsible {
  background-color: rgb(209, 209, 209);
  color: rgb(78, 78, 78);
  cursor: pointer;
  width: 240px;
  border: none;
  outline: none;
  font-size: 15px;
  height: 30px;
  display: inline-block;
  margin: 0 auto;
}
.collapsible > div{
    float: left;
    margin:5px;
}

.active, .collapsible:hover {
  background-color: rgb(199, 199, 199);
}

.collapse-contents {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  background-color: #f1f1f1;
  border:1px solid gray;
}

#div-h3
{
    width:10px;
    border:1px solid gray;
}
.div-img{
    width: 30px;
    align-content: center;
    align-items: center;
    padding-left: 132px
  
}
.nav-container
{
  width: inherit;
  height: inherit;
  border: 1px solid gray;
	justify-content: center;
}
.nav-user{
  margin-left: 20px;
  width: 50px;
}
#img2
{
  margin-left: 17px;
}
.nav-btns
{
  width: 240px;
  outline: none;
  background: #d3d2d2;
  height: 25px;
  margin-top: 3px;
  border: none;
  color: rgb(43, 42, 42)
  
}
.nav-btns:hover
{
  background: #e2e2e2;
  color: rgb(70, 70, 70)
}
.descriptions
{
  width: 1000px;
  height: 500px;

}
.actions-container
{
  border: 1px solid gray;
  width: 1000px;
  height: 500px;
}

.student-reg
{
    border: 1px solid gray;
    width: inherit;
    height: inherit;
    display:none;
}
.all-students
{
  border: 1px solid gray;
  width: 1000px;
  height: 500px;
  display:none;
}
.update-student
{
  border: 1px solid gray;
  width: 1000px;
  height: 500px;
  display:none;
}
.user-reg
{
  border: 1px solid gray;
  width: 1000px;
  height: 500px;
  display:none;
}
.all-users
{
  border: 1px solid gray;
  width: 1000px;
  height: 500px;
  display:none;
}
.update-user
{
  border: 1px solid gray;
  width: 1000px;
  height: 500px;
  display:none;
}

/*For sliders*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333; }

.slides {
    padding: 0;
    width: inherit;
    height: inherit;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4 {
  background: rgba(0, 0, 0, 0.8);
}
